<div class="row">
    <nav class="col-md-9">
        <ul class="pager">
        <li class="previous"><a ng-href="?page=2"><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next"><a ng-href="?page=4">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    <nav class="col-md-3">
        <ul class="pager">
            <li class="previous"><a>5</a></li>
            <li class="previous active"><a>10</a></li>
            <li class="previous"><a>25</a></li>
            <li class="previous"><a>50</a></li>
        </ul>
    </nav>
</div>