
<div class="row">
    <div ng-class="!!$ctrl.badge ? 'col-md-6' : 'col-md-12'">
        <img src="{{$ctrl.image}}" class="img-thumbnail"/>
    </div>
    
    <div ng-show="!!$ctrl.badge" class="col-md-6"">
        <div class="row">
            <div style="background: #fff8e2;border-color: #ece3c8;" class="btn">{{$ctrl.badge.gold}}</div>
        </div>
        <div class="row">
            <div style="background: #edeeef;border-color: #e0e1e3;" class="btn">{{$ctrl.badge.silver}}</div>
        </div>
        <div class="row">
            <div style="background: #f9ebe1;border-color: #f1decc;" class="btn">{{$ctrl.badge.bronze}}</div>
        </div>
    </div>
</div>
<div class="row">
    <h2>{{$ctrl.name}}</h2>
    <a href="{{$ctrl.link}}">Website</a>
</div>
